.resultPage {
  background: #99dee5;
  height: 100vh;
  .title {
    color: white;
    text-align: center;
    margin-top: 48px;
  }

  .subTitle {
    color: white;
    margin-bottom: 48px;
  }

  .enterBtn {
    width: 60vw;
  }
}

